body {
  background-image: url('img/background.png');
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    /* background-attachment: fixed; */
}

.gallery {
    margin: 0px;
    text-align: center;
    /* width: 180px; */
}

.topbox {
    margin-top: 20%;

}

.gallery img {
    width: 50%;
    height: auto;
}

@media screen and (min-width : 375px) {
    .gallery {
        margin: 4%;
        text-align: center;
        width: 25%;
    }

    .gallery img {
        width: 100%;
        height: auto;
    }

    .topbox {
        margin-top: 20%;

    }

}
